/* TOC – Typography

Check typography variables › _3_typography_settings.scss

- Links
- Customize Foundation Typography
- Headlines
- Images
- Lists
- Tables
- Code
- Quotes
- Typography for Articles
- Smaller Fontsize for Bigteaser on small devices
- Additional typographical elements
- Footnotes
- Icon Font

*/



/* Links
------------------------------------------------------------------- */

a,
a:link {}

a:visited {
        border-bottom: $grey-2;
}

a:hover {
        color: darken( $ci-1, 10% );
}

a:focus {
        color: lighten( $ci-1, 20% );
}

a:active {
        color: darken( $ci-1, 20% );
}



/* Customize Foundation Typography
------------------------------------------------------------------- */

p {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}
p a,
article a {
    font-weight: bold;
    border-bottom: 1px dotted;
}
p a:hover,
article a:hover {
    border-bottom: 2px solid;
}
p a.button,
.button,
.button:hover {
    border: 0;
    color: #fff;
}
p.button a {
    border: 0;
    color: #fff;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}



/* Headlines
------------------------------------------------------------------- */

h1, h2, h3, h4, h5, h6 {
    font-family: $header-font-family;
    font-weight: normal;
    padding: 0;
}

h1 {
    font-size: $font-size-h1;
    margin-top: 0;
}
h2 {
    font-size: $font-size-h2;
    margin: 1.563em 0 0 0;
}
    .blog-index h2 {
        margin-top: 0;
    }
h3 {
    font-size: $font-size-h3;
    margin: 1.152em 0 0 0;
}
h4 {
    font-size: $font-size-h4;
    margin: 1.152em 0 0 0;
}
h5 {
    font-size: $font-size-h5;
    margin: 1em 0 0 0;
}



/* Images
------------------------------------------------------------------- */

img { border-radius: $global-radius;}
    img.alignleft,
    img.left        { float: left; margin:5px 15px 5px 0; }
    img.alignright,
    img.right       { float: right; margin:5px 0 5px 15px; }
    img.aligncenter,
    img.center      { display: block; margin:0 auto 10px; }

figure {
    margin: 0 0 rem-calc(30) 0;
}
#masthead-with-background-color figure,
#masthead-with-pattern figure {
    margin: 0;
}
figcaption,
.masthead-caption {
    color: $grey-10;
    font-family: $font-family-sans-serif;
    font-size: rem-calc(13);
    padding-top: rem-calc(2);
}
figcaption a,
.masthead-caption a {
    border-bottom: 1px dotted $grey-4;
    color: $grey-10;
}
figcaption a:hover,
.masthead-caption a:hover {
    border-bottom: 2px solid $primary-color;
    color: $primary-color;
}
.masthead-caption {
    padding-right: 10px;
    text-align: right;
}



/* Tables
------------------------------------------------------------------- */

td {
    vertical-align: top;
}



/* Code
------------------------------------------------------------------- */

pre {
    overflow: auto;
    margin-bottom: rem-calc(20);
    padding: 5px;
    background-color: $code-background-color;
    border-radius: $global-radius;
}
pre code {
    padding: rem-calc(2) rem-calc(5) rem-calc(1) rem-calc(0);
    border: 0;
}

code {
    font-size: rem-calc(14);
    line-height: 1.5;
}



/* Lists
------------------------------------------------------------------- */

ul, ol {
    margin-left: 20px;
    padding: 0;
}
li {
    margin-left: 20px;
}

.no-bullet {
    list-style: none;
    margin-left: 20px;
}

li {
    > ul,
    > ol {
         margin-bottom: 20px;
    }
}

dl {

}
dt:first-child {
    padding-top: 0px;
}
dt {
    font-weight: bold;
    padding-top: 30px;
}
dd {
}
article dl dt   { line-height: 1.3; }
article dl dd   { line-height: 1.6; margin-bottom: rem-calc(12); margin-left: rem-calc(24); }



/* Quotes
------------------------------------------------------------------- */

blockquote {
    font-style: italic;
    position: relative;
    border: none;
    margin: 0 30px 30px 30px;
    color: #4b4b4d
}

    blockquote p {font-style: italic; color: $grey-10; }

    blockquote:before {
        display:block;content:"\00BB";
        font-size:80px;
        line-height: 0;
        position:absolute;
        left:-25px;
        top: auto;
        color:#4b4b4d
    }
    blockquote:after {
        display:block;
        content:"\00AB";
        font-size:80px;
        line-height: 0;
        position:absolute;
        right:-10px;
        bottom: 20px;
        color:#4b4b4d;
    }
    blockquote cite:before {
        content:"\2014 \0020"
    }
    blockquote cite a,blockquote cite a:visited {
        color: #555
    }
cite {
    padding-top: 5px;
}

button, .button {
    letter-spacing: 1px;
}

mark {
    background-color: scale-color($warning-color, $lightness: 60%);
}



/* Typography for Articles
------------------------------------------------------------------- */

.subheadline {
    font-size: rem-calc(16);
    margin: 0;
    text-transform: uppercase;
}
.teaser {
    font-size: rem-calc(20);
}
.big-teaser {
    font-style: italic; font-weight: 300;
}
.big-teaser a {
    font-style: italic; font-weight: 400;
}

/* Smaller Fontsize for Bigteaser on small devices */
@media only screen {
    .big-teaser {
        font-size: rem-calc(20);
    }
}
@media only screen and (min-width: 40.063em) {
    .big-teaser         {
        font-size: rem-calc(29);
    }
}



/* Additional typographical elements
------------------------------------------------------------------- */

.sans           { font-family: $font-family-sans-serif; }
.serif          { font-family: $font-family-serif; }

.font-size-h1   { font-size: $font-size-h1; }
.font-size-h2   { font-size: $font-size-h2; }
.font-size-h3   { font-size: $font-size-h3; }
.font-size-h4   { font-size: $font-size-h4; }
.font-size-h5   { font-size: $font-size-h5; }
.font-size-p    { font-size: $font-size-p; }



/* Footnotes
------------------------------------------------------------------- */

.footnotes:before {
    content: "";
    position: absolute;
    height: 1px;
    width: 60px;
    margin-top: -10px;
    border-bottom: 1px solid $grey-2;
}
.footnotes {
    margin-top: 60px;
}
.footnotes ol {
    font-size: $font-size-small;
}
.footnotes p {
    font-size: inherit;
    margin-bottom: 0;
}




/* Icon Font
   See the icon-set/preview in /assets/fonts/iconfont-preview.html
------------------------------------------------------------------- */

@font-face {
  font-family: 'iconfont';
  src: url('../fonts/iconfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url("../fonts/iconfont.woff2") format("woff2"),
       url('../fonts/iconfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/iconfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/iconfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "iconfont";
    src: url("../fonts/iconfont.svg#iconfont") format("svg");
  }
}


.iconfont       { font-family: iconfont; }
.iconfont-48    { font-size: 48px; }


[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-academia:before,
.icon-academia-square:before,
.icon-acclaim:before,
.icon-acclaim-square:before,
.icon-acm:before,
.icon-acm-square:before,
.icon-acmdl:before,
.icon-acmdl-square:before,
.icon-ads:before,
.icon-ads-square:before,
.icon-africarxiv:before,
.icon-africarxiv-square:before,
.icon-archive:before,
.icon-archive-square:before,
.icon-arxiv:before,
.icon-arxiv-square:before,
.icon-biorxiv:before,
.icon-biorxiv-square:before,
.icon-browser:before,
.icon-calendar:before,
.icon-camera:before,
.icon-ceur:before,
.icon-ceur-square:before,
.icon-chat:before,
.icon-check:before,
.icon-chevron-down:before,
.icon-chevron-left:before,
.icon-chevron-right:before,
.icon-chevron-up:before,
.icon-ciencia-vitae:before,
.icon-ciencia-vitae-square:before,
.icon-circle-with-cross:before,
.icon-circle-with-minus:before,
.icon-circle-with-plus:before,
.icon-clarivate:before,
.icon-clarivate-square:before,
.icon-closed-access:before,
.icon-closed-access-square:before,
.icon-cloud:before,
.icon-code:before,
.icon-cog:before,
.icon-conversation:before,
.icon-conversation-square:before,
.icon-coursera:before,
.icon-coursera-square:before,
.icon-crossref:before,
.icon-crossref-square:before,
.icon-cv:before,
.icon-cv-square:before,
.icon-datacite:before,
.icon-datacite-square:before,
.icon-dataverse:before,
.icon-dataverse-square:before,
.icon-dblp:before,
.icon-dblp-square:before,
.icon-depsy:before,
.icon-depsy-square:before,
.icon-doi:before,
.icon-doi-square:before,
.icon-dropbox:before,
.icon-dryad:before,
.icon-dryad-square:before,
.icon-edit:before,
.icon-elsevier:before,
.icon-elsevier-square:before,
.icon-export:before,
.icon-eye:before,
.icon-facebook:before,
.icon-feather:before,
.icon-figshare:before,
.icon-figshare-square:before,
.icon-github:before,
.icon-globe:before,
.icon-google-scholar:before,
.icon-google-scholar-square:before,
.icon-hal:before,
.icon-hal-square:before,
.icon-heart:before,
.icon-heart-outlined:before,
.icon-home:before,
.icon-hypothesis:before,
.icon-hypothesis-square:before,
.icon-ideas-repec:before,
.icon-ideas-repec-square:before,
.icon-ieee:before,
.icon-ieee-square:before,
.icon-impactstory:before,
.icon-impactstory-square:before,
.icon-inaturalist:before,
.icon-inaturalist-square:before,
.icon-inpn:before,
.icon-inpn-square:before,
.icon-inspire:before,
.icon-inspire-square:before,
.icon-instagram:before,
.icon-isidore:before,
.icon-isidore-square:before,
.icon-isni:before,
.icon-isni-square:before,
.icon-jstor:before,
.icon-jstor-square:before,
.icon-lab-flask:before,
.icon-lattes:before,
.icon-lattes-square:before,
.icon-leaf:before,
.icon-linkedin:before,
.icon-mail:before,
.icon-mathoverflow:before,
.icon-mathoverflow-square:before,
.icon-mendeley:before,
.icon-mendeley-square:before,
.icon-message:before,
.icon-mic:before,
.icon-moodle:before,
.icon-moodle-square:before,
.icon-mtmt:before,
.icon-mtmt-square:before,
.icon-nakala:before,
.icon-nakala-square:before,
.icon-network:before,
.icon-obp:before,
.icon-obp-square:before,
.icon-open-access:before,
.icon-open-access-square:before,
.icon-open-data:before,
.icon-open-data-square:before,
.icon-open-materials:before,
.icon-open-materials-square:before,
.icon-openedition:before,
.icon-openedition-square:before,
.icon-orcid:before,
.icon-orcid-square:before,
.icon-osf:before,
.icon-osf-square:before,
.icon-overleaf:before,
.icon-overleaf-square:before,
.icon-paper-plane:before,
.icon-philpapers:before,
.icon-philpapers-square:before,
.icon-piazza:before,
.icon-piazza-square:before,
.icon-pinterest:before,
.icon-preregistered:before,
.icon-preregistered-de:before,
.icon-preregistered-de-plus:before,
.icon-preregistered-de-plus-square:before,
.icon-preregistered-de-square:before,
.icon-preregistered-de-tc:before,
.icon-preregistered-de-tc-plus:before,
.icon-preregistered-de-tc-plus-square:before,
.icon-preregistered-de-tc-square:before,
.icon-preregistered-square:before,
.icon-preregistered-tc:before,
.icon-preregistered-tc-plus:before,
.icon-preregistered-tc-plus-square:before,
.icon-preregistered-tc-square:before,
.icon-price-tag:before,
.icon-protocols:before,
.icon-protocols-square:before,
.icon-psyarxiv:before,
.icon-psyarxiv-square:before,
.icon-publons:before,
.icon-publons-square:before,
.icon-pubmed:before,
.icon-pubmed-square:before,
.icon-pubpeer:before,
.icon-pubpeer-square:before,
.icon-researcherid:before,
.icon-researcherid-square:before,
.icon-researchgate:before,
.icon-researchgate-square:before,
.icon-rocket:before,
.icon-ror:before,
.icon-ror-square:before,
.icon-rss:before,
.icon-sci-hub:before,
.icon-sci-hub-square:before,
.icon-scirate:before,
.icon-scirate-square:before,
.icon-scopus:before,
.icon-scopus-square:before,
.icon-semantic-scholar:before,
.icon-semantic-scholar-square:before,
.icon-soundcloud:before,
.icon-springer:before,
.icon-springer-square:before,
.icon-ssrn:before,
.icon-ssrn-square:before,
.icon-stackoverflow:before,
.icon-stackoverflow-square:before,
.icon-star:before,
.icon-star-outlined:before,
.icon-thumbs-down:before,
.icon-thumbs-up:before,
.icon-tree:before,
.icon-tumblr:before,
.icon-twitter:before,
.icon-upload-to-cloud:before,
.icon-viaf:before,
.icon-viaf-square:before,
.icon-video:before,
.icon-vimeo:before,
.icon-warning:before,
.icon-wiley:before,
.icon-wiley-square:before,
.icon-xing:before,
.icon-youtube:before,
.icon-zenodo:before,
.icon-zotero:before,
.icon-zotero-square:before {
  display: inline-block;
  font-family: "iconfont";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-academia:before { content: "\f136"; }
.icon-academia-square:before { content: "\f137"; }
.icon-acclaim:before { content: "\f138"; }
.icon-acclaim-square:before { content: "\f139"; }
.icon-acm:before { content: "\f13a"; }
.icon-acm-square:before { content: "\f13b"; }
.icon-acmdl:before { content: "\f13c"; }
.icon-acmdl-square:before { content: "\f13d"; }
.icon-ads:before { content: "\f13e"; }
.icon-ads-square:before { content: "\f13f"; }
.icon-africarxiv:before { content: "\f140"; }
.icon-africarxiv-square:before { content: "\f141"; }
.icon-archive:before { content: "\f100"; }
.icon-archive-square:before { content: "\f142"; }
.icon-arxiv:before { content: "\f143"; }
.icon-arxiv-square:before { content: "\f144"; }
.icon-biorxiv:before { content: "\f145"; }
.icon-biorxiv-square:before { content: "\f146"; }
.icon-browser:before { content: "\f101"; }
.icon-calendar:before { content: "\f133"; }
.icon-camera:before { content: "\f102"; }
.icon-ceur:before { content: "\f147"; }
.icon-ceur-square:before { content: "\f148"; }
.icon-chat:before { content: "\f103"; }
.icon-check:before { content: "\f104"; }
.icon-chevron-down:before { content: "\f105"; }
.icon-chevron-left:before { content: "\f106"; }
.icon-chevron-right:before { content: "\f107"; }
.icon-chevron-up:before { content: "\f108"; }
.icon-ciencia-vitae:before { content: "\f149"; }
.icon-ciencia-vitae-square:before { content: "\f14a"; }
.icon-circle-with-cross:before { content: "\f109"; }
.icon-circle-with-minus:before { content: "\f10a"; }
.icon-circle-with-plus:before { content: "\f10b"; }
.icon-clarivate:before { content: "\f14b"; }
.icon-clarivate-square:before { content: "\f14c"; }
.icon-closed-access:before { content: "\f14d"; }
.icon-closed-access-square:before { content: "\f14e"; }
.icon-cloud:before { content: "\f10c"; }
.icon-code:before { content: "\f10d"; }
.icon-cog:before { content: "\f10e"; }
.icon-conversation:before { content: "\f14f"; }
.icon-conversation-square:before { content: "\f150"; }
.icon-coursera:before { content: "\f151"; }
.icon-coursera-square:before { content: "\f152"; }
.icon-crossref:before { content: "\f153"; }
.icon-crossref-square:before { content: "\f154"; }
.icon-cv:before { content: "\f155"; }
.icon-cv-square:before { content: "\f156"; }
.icon-datacite:before { content: "\f157"; }
.icon-datacite-square:before { content: "\f158"; }
.icon-dataverse:before { content: "\f159"; }
.icon-dataverse-square:before { content: "\f15a"; }
.icon-dblp:before { content: "\f15b"; }
.icon-dblp-square:before { content: "\f15c"; }
.icon-depsy:before { content: "\f15d"; }
.icon-depsy-square:before { content: "\f15e"; }
.icon-doi:before { content: "\f15f"; }
.icon-doi-square:before { content: "\f160"; }
.icon-dropbox:before { content: "\f10f"; }
.icon-dryad:before { content: "\f161"; }
.icon-dryad-square:before { content: "\f162"; }
.icon-edit:before { content: "\f110"; }
.icon-elsevier:before { content: "\f163"; }
.icon-elsevier-square:before { content: "\f164"; }
.icon-export:before { content: "\f111"; }
.icon-eye:before { content: "\f112"; }
.icon-facebook:before { content: "\f113"; }
.icon-feather:before { content: "\f114"; }
.icon-figshare:before { content: "\f165"; }
.icon-figshare-square:before { content: "\f166"; }
.icon-github:before { content: "\f115"; }
.icon-globe:before { content: "\f116"; }
.icon-google-scholar:before { content: "\f167"; }
.icon-google-scholar-square:before { content: "\f168"; }
.icon-hal:before { content: "\f169"; }
.icon-hal-square:before { content: "\f16a"; }
.icon-heart:before { content: "\f117"; }
.icon-heart-outlined:before { content: "\f118"; }
.icon-home:before { content: "\f119"; }
.icon-hypothesis:before { content: "\f16b"; }
.icon-hypothesis-square:before { content: "\f16c"; }
.icon-ideas-repec:before { content: "\f16d"; }
.icon-ideas-repec-square:before { content: "\f16e"; }
.icon-ieee:before { content: "\f16f"; }
.icon-ieee-square:before { content: "\f170"; }
.icon-impactstory:before { content: "\f171"; }
.icon-impactstory-square:before { content: "\f172"; }
.icon-inaturalist:before { content: "\f173"; }
.icon-inaturalist-square:before { content: "\f174"; }
.icon-inpn:before { content: "\f175"; }
.icon-inpn-square:before { content: "\f176"; }
.icon-inspire:before { content: "\f177"; }
.icon-inspire-square:before { content: "\f178"; }
.icon-instagram:before { content: "\f11a"; }
.icon-isidore:before { content: "\f179"; }
.icon-isidore-square:before { content: "\f17a"; }
.icon-isni:before { content: "\f17b"; }
.icon-isni-square:before { content: "\f17c"; }
.icon-jstor:before { content: "\f17d"; }
.icon-jstor-square:before { content: "\f17e"; }
.icon-lab-flask:before { content: "\f11b"; }
.icon-lattes:before { content: "\f17f"; }
.icon-lattes-square:before { content: "\f180"; }
.icon-leaf:before { content: "\f11c"; }
.icon-linkedin:before { content: "\f11d"; }
.icon-mail:before { content: "\f11e"; }
.icon-mathoverflow:before { content: "\f181"; }
.icon-mathoverflow-square:before { content: "\f182"; }
.icon-mendeley:before { content: "\f183"; }
.icon-mendeley-square:before { content: "\f184"; }
.icon-message:before { content: "\f11f"; }
.icon-mic:before { content: "\f120"; }
.icon-moodle:before { content: "\f185"; }
.icon-moodle-square:before { content: "\f186"; }
.icon-mtmt:before { content: "\f187"; }
.icon-mtmt-square:before { content: "\f188"; }
.icon-nakala:before { content: "\f189"; }
.icon-nakala-square:before { content: "\f18a"; }
.icon-network:before { content: "\f121"; }
.icon-obp:before { content: "\f18b"; }
.icon-obp-square:before { content: "\f18c"; }
.icon-open-access:before { content: "\f18d"; }
.icon-open-access-square:before { content: "\f18e"; }
.icon-open-data:before { content: "\f18f"; }
.icon-open-data-square:before { content: "\f190"; }
.icon-open-materials:before { content: "\f191"; }
.icon-open-materials-square:before { content: "\f192"; }
.icon-openedition:before { content: "\f193"; }
.icon-openedition-square:before { content: "\f194"; }
.icon-orcid:before { content: "\f195"; }
.icon-orcid-square:before { content: "\f196"; }
.icon-osf:before { content: "\f197"; }
.icon-osf-square:before { content: "\f198"; }
.icon-overleaf:before { content: "\f199"; }
.icon-overleaf-square:before { content: "\f19a"; }
.icon-paper-plane:before { content: "\f122"; }
.icon-philpapers:before { content: "\f19b"; }
.icon-philpapers-square:before { content: "\f19c"; }
.icon-piazza:before { content: "\f19d"; }
.icon-piazza-square:before { content: "\f19e"; }
.icon-pinterest:before { content: "\f123"; }
.icon-preregistered:before { content: "\f19f"; }
.icon-preregistered-de:before { content: "\f1a0"; }
.icon-preregistered-de-plus:before { content: "\f1a1"; }
.icon-preregistered-de-plus-square:before { content: "\f1a2"; }
.icon-preregistered-de-square:before { content: "\f1a3"; }
.icon-preregistered-de-tc:before { content: "\f1a4"; }
.icon-preregistered-de-tc-plus:before { content: "\f1a5"; }
.icon-preregistered-de-tc-plus-square:before { content: "\f1a6"; }
.icon-preregistered-de-tc-square:before { content: "\f1a7"; }
.icon-preregistered-square:before { content: "\f1a8"; }
.icon-preregistered-tc:before { content: "\f1a9"; }
.icon-preregistered-tc-plus:before { content: "\f1aa"; }
.icon-preregistered-tc-plus-square:before { content: "\f1ab"; }
.icon-preregistered-tc-square:before { content: "\f1ac"; }
.icon-price-tag:before { content: "\f124"; }
.icon-protocols:before { content: "\f1ad"; }
.icon-protocols-square:before { content: "\f1ae"; }
.icon-psyarxiv:before { content: "\f1af"; }
.icon-psyarxiv-square:before { content: "\f1b0"; }
.icon-publons:before { content: "\f1b1"; }
.icon-publons-square:before { content: "\f1b2"; }
.icon-pubmed:before { content: "\f1b3"; }
.icon-pubmed-square:before { content: "\f1b4"; }
.icon-pubpeer:before { content: "\f1b5"; }
.icon-pubpeer-square:before { content: "\f1b6"; }
.icon-researcherid:before { content: "\f1b7"; }
.icon-researcherid-square:before { content: "\f1b8"; }
.icon-researchgate:before { content: "\f1b9"; }
.icon-researchgate-square:before { content: "\f1ba"; }
.icon-rocket:before { content: "\f125"; }
.icon-ror:before { content: "\f1bb"; }
.icon-ror-square:before { content: "\f1bc"; }
.icon-rss:before { content: "\f126"; }
.icon-sci-hub:before { content: "\f1bd"; }
.icon-sci-hub-square:before { content: "\f1be"; }
.icon-scirate:before { content: "\f1bf"; }
.icon-scirate-square:before { content: "\f1c0"; }
.icon-scopus:before { content: "\f1c1"; }
.icon-scopus-square:before { content: "\f1c2"; }
.icon-semantic-scholar:before { content: "\f1c3"; }
.icon-semantic-scholar-square:before { content: "\f1c4"; }
.icon-soundcloud:before { content: "\f127"; }
.icon-springer:before { content: "\f1c5"; }
.icon-springer-square:before { content: "\f1c6"; }
.icon-ssrn:before { content: "\f1c7"; }
.icon-ssrn-square:before { content: "\f1c8"; }
.icon-stackoverflow:before { content: "\f1c9"; }
.icon-stackoverflow-square:before { content: "\f1ca"; }
.icon-star:before { content: "\f128"; }
.icon-star-outlined:before { content: "\f129"; }
.icon-thumbs-down:before { content: "\f12a"; }
.icon-thumbs-up:before { content: "\f12b"; }
.icon-tree:before { content: "\f134"; }
.icon-tumblr:before { content: "\f12c"; }
.icon-twitter:before { content: "\f12d"; }
.icon-upload-to-cloud:before { content: "\f12e"; }
.icon-viaf:before { content: "\f1cb"; }
.icon-viaf-square:before { content: "\f1cc"; }
.icon-video:before { content: "\f12f"; }
.icon-vimeo:before { content: "\f130"; }
.icon-warning:before { content: "\f131"; }
.icon-wiley:before { content: "\f1cd"; }
.icon-wiley-square:before { content: "\f1ce"; }
.icon-xing:before { content: "\f135"; }
.icon-youtube:before { content: "\f132"; }
.icon-zenodo:before { content: "\f1cf"; }
.icon-zotero:before { content: "\f1d0"; }
.icon-zotero-square:before { content: "\f1d1"; }
