---
---

{{ reference | replace_first: 'Jie Cao', '<b>Jie Cao</b>' }}

<span id="{{key}}-materials">
    <a data-toggle="collapse" href="javascript:toggleDiv('{{key}}-bibtex')">&nbsp;&nbsp;&nbsp;&nbsp;BibTeX</a>
    <div id="{{key}}-bibtex" style="display:none;">
    <pre class="collapse">{{entry.bibtex}}</pre>
    </div>

    {% if link %}
    <a href="{{ link | prepend: site.url }}">&nbsp;&nbsp;&nbsp;&nbsp;PDF</a>
    {% endif %}

    {% if links['slides.pdf'] %}
    <a href="{{ links['slides.pdf'] | prepend: site.url }}">&nbsp;&nbsp;&nbsp;&nbsp;Slides</a>
    {% endif %}

    {% if links['poster.pdf'] %}
    <a href="{{ links['poster.pdf'] | prepend: site.url }}">&nbsp;&nbsp;&nbsp;&nbsp;Poster</a>
    {% endif %}
</span>
