---
---

{{ reference | replace_first: 'Jie Cao', '<b>Jie Cao</b>' }}

<span id="{{key}}-materials">
    <a data-toggle="collapse" href="javascript:toggleDiv('{{key}}-bibtex')">BibTeX</a>
    <div id="{{key}}-bibtex" style="display:none;">
    <pre class="collapse">{{entry.bibtex}}</pre>
    </div>

    {% if link %}
    <a href="{{ link | prepend: site.url }}">Paper</a>
    {% endif %}

    {% if links['slides.pdf'] %}
    <a href="{{ links['slides.pdf'] | prepend: site.url }}">Slides</a>
    {% endif %}

    {% if links['poster.pdf'] %}
    <a href="{{ links['poster.pdf'] | prepend: site.url }}">Poster</a>
    {% endif %}
</span>
