---
---

{{ reference | replace_first: 'Jie Cao', '<b>Jie Cao</b>' }}

<div id="{{key}}-materials">
  <ul>
    <li><a data-toggle="collapse" href="javascript:toggleDiv('{{key}}-bibtex')">BibTeX</a></li>
    <div id="{{key}}-bibtex" style="display:none;">
    <pre class="collapse">{{entry.bibtex}}</pre>
    </div>

    {% if link %}
    <li><a href="{{ link | prepend: site.url }}">Download</a></li>
    {% endif %}

    {% if links['slides.pdf'] %}
    <li><a href="{{ links['slides.pdf'] | prepend: site.url }}">Slides</a></li>
    {% endif %}

    {% if links['poster.pdf'] %}
    <li><a href="{{ links['poster.pdf'] | prepend: site.url }}">Poster</a></li>
    {% endif %}
  </ul>
</div>
