---
layout: default
format: research-index
header : no
---

<div class="white-box">
  <font face="Comic sans MS">Ph.D., Assistant Professor</font><br>
  <a href="http://www.ou.edu/coe/cs" target="_blank"><div>School of Computer Science</div></a>
  <a href="https://www.ou.edu/" target="_blank"><div>University of Oklahoma</div></a>
  110 W. Boyd St., DEH 232, Norman, OK 73019<br>
  <div style="margin-top: 10px"></div>
  <b>Hiring!</b> I am looking for self-motivated students who are interested in Dialogue, NLP and LLM!
</div>

<div class="row t30">
	<div class="medium-12 columns">
    <div class="row">
    <div class="medium-2 columns">
    <img style="float: left;" src="{{ site.urlimg }}jie.png">
    </div><!-- /.medium-2.columns -->
    <div class="medium-10 columns">
      <p>Before joining OU, I am a post-doctoral researcher at NSF AI Institute for Student-AI Teaming<a href="https://www.colorado.edu/research/ai-institute/">
        (iSAT)</a> where I mainly work with <a href="https://home.cs.colorado.edu/~martin/">James Martin</a>, <a href="https://www.colorado.edu/faculty/palmer-martha/">Martha Palmer</a>, and <a href="https://colorado.edu/lab/clear/"> Boulder NLP Group.
      </a> I obtained my Ph.D. from the <a href="https://cs.utah.edu/">Kahlert School of
        Computing</a> at the <a href="https://www.utah.edu">University of
        Utah</a>, where I worked with <a href="https://svivek.com">Vivek
        Srikumar</a> and the <a
                                href="https://nlp.cs.utah.edu/">Uath NLP
                                Group</a>

      <section id="profile-right" class="medium-6 large-5 columns social-icons">
            <ul class="inline-list" style="font-size: 28px !important;">
            {% for social_item in site.data.socialmedia limit:4 %}
              <li><a href="{{ social_item.url }}" target="_blank" class="{{ social_item.class }}" title="{{ social_item.title }}"></a></li>
            {% endfor %}
            </ul>
    </section>
    </div>
    </div>

		<article>
			<header>
				{% if page.subheadline %}<p class="subheadline">{{ page.subheadline }}</p>{% endif %}
				<h1>{{ page.title }}</h1>
			</header>

			{% if page.teaser %}
			<p class="teaser">
				{{ page.teaser }}
			</p>
			{% endif %}

			{{ content }}
		</article>
	</div><!-- /.medium-12.columns -->
</div><!-- /.row -->

