---
layout: default
format: publication-index
header : no
---

<div class="row t30">
	<div class="medium-12 columns">
    <article>
			<header>
				{% if page.subheadline %}<p class="subheadline">{{ page.subheadline }}</p>{% endif %}
				<h1>{{ page.title }}</h1>
			</header>

			{% if page.teaser %}
			<p class="teaser">
				{{ page.teaser }}
			</p>
			{% endif %}

            <div class="row">
            <div class="medium-12 columns">
            <div data-alert class="alert-box warning" style="font-size: 16px !important; text-align: center;">
            <b>&#127891; Prospective Students:</b> I will not be recruiting new Ph.D. students for Fall 2026. Thank you for your understanding, and best of luck in your academic journey. For OU Student, if you are interested in doing research with me, please take CS 5293 first. 
            </div>
            </div>
            </div>

			{{ content }}
		</article>
	</div><!-- /.medium-12.columns -->
</div><!-- /.row -->

